<h1 class="animated fadeIn fast">HISTORY</h1>
<hr>
<p class="animated fadeIn ">
  The history of comics has followed different paths in different cultures. Scholars have posited a pre-history as far back as the Lascaux cave paintings in France. By the mid-20th century, comics flourished, particularly in the United States, western Europe (especially France and Belgium), and Japan. The history of European comics is often traced to Rodolphe Töpffer's cartoon strips of the 1830s, but the medium truly became popular in the 1930s following the success of strips and books such as The Adventures of Tintin. American comics emerged as a mass medium in the early 20th century with the advent of newspaper comic strips; magazine-style comic books followed in the 1930s, in which the superhero genre became prominent after Superman appeared in 1938
</p>
